<!DOCTYPE html>
<html lang="pt-br">
    <%- include("./include/head.ejs", {title:"Jogos"}) -%>
    <body class="d-flex justify-content-center h-100">

        <main class="container mt-5">
            <div class="row row-cols-1 row-cols-md-3">
                <% for(let i = 0; i < listaJogos.length; i++) { %>
                    <div class="col mb-4">
                        <div class="card">
                            <img src="/uploads/<%= listaJogos[i].img %>" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= listaJogos[i].nome %> 
                                </h5>
                                <p class="card-text">
                                    R$ <%= listaJogos[i].preco %><small>,00</small>
                                </p>
                            </div>

                            <div class="row no-gutters botoes-edicao mb-1">
                                <div class="col-6">
                                    <form action="/games/excluir/<%= i %>?_method=DELETE" method="post">
                                        <button type="submit" class="btn btn-danger">Excluir</button>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <form action="/games/editar/<%= i %>" method="get">
                                        <button type="submit" class="btn btn-warning">Editar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>   
            </div>
        </main>
        
        <%- include("./include/scripts.ejs") -%>
    </body>
</html>